/* dashboard-style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.dashboard-container {
    text-align: center;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.account-section {
    cursor: pointer;
}

.options-section {
    cursor: pointer;
}

h1 {
    margin-top: 20px;
}

a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}
