@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #FF9900;
    //--primary-color: cyan;
    --gray :  	#808080;
    --light-black : #292929;
    //--secondary-color : black;
    --secondary-color : rgb(120, 86, 24);;

}

span {
    pointer-events: none;
    white-space:nowrap;
}







body {

        
        color: white;
    
        .hesabim {
        word-wrap: break-word;
        background: var(--secondary-color);
        text-align: center;
        padding: .5em 1em;
        width: 80%;
        margin: 5em 1.5em 5em auto;
        border-radius: 1em;
        border: 3px solid ;
        border-color: var(--primary-color);

            .bilgiler {
                border: 2px solid var(--secondary-color);
                border-radius: 2em;
                background-color: var(--secondary-color);
                color: white;
            }

            .degistir{
                color: white;
                padding-bottom: 1em;
                margin-top: 1em;
                border: 2px solid var(--primary-color);
                border-radius: 2em;
                p {
                    font-size: .8em;
                    color: red;
                }
                form {

                   

                    input, textarea {
                    padding: .2em;
                    margin: .2em 0 .2em 1em;
                    border-radius: .3em;
                    border: 1px solid var(--primary-color);
                    box-sizing: border-box;
                    resize: none;
                    }
            
                    input {
                        border-radius: 2em;
                        display: flex;
                        width: 80%;
                        border: 3px solid var(--primary-color);
                        background-color: white;
                        color: black;
                        flex: 1;
                        font-size: 1em;
                        
                    }
            
                    input::placeholder {
                    color: black;
                    font-size: 1.1em;
                    }
                    
                    button {
                        img{
                            //purple filter: invert(99%) sepia(32%) saturate(7500%) hue-rotate(105deg) brightness(104%) contrast(107%);
                            filter: brightness(0);
                            width: 30px;
                            height: 3cm;
            
                        }
                        background-color: transparent ;
                        position: absolute;
                        right: 4em;
                        margin-top: -5.7em;
                        border: none;
                        
                        span {
                            display: none;
                        }
                        
                    }
                }
                
            }


        }
        
        
    
    
    
}